{% extends "headers.html" %}
{% block content %}

<!-- Main Content -->
<main class="bg-light bg-gradient" style="margin-top: 0;">
  <h3 class="display-1 text-center" style="margin-top:60px;"><b>About Us</b></h3>


  <div class="card border-primary" style="border-left-width: thick">

    <div class="card-body">
      <img src="{{url_for('static',filename='logo.png')}}" class="img-fluid" alt="About Us" style="border-radius: 10px; float: right; width: 30%; height: 30%;"/>

      <p class="card-text" style="color: #FF671F;">
        Welcome to Xplore Bharat! 🌍🇮🇳<br>

Embark on a journey to discover the rich heritage, breathtaking landscapes, and vibrant cultures of India with Xplore Bharat! Whether you're planning a solo adventure, a family getaway, or a trip with friends, we’re here to make your travel planning effortless and enjoyable.

With personalized itineraries, curated recommendations, and an easy-to-use interface, Xplore Bharat ensures you experience the best of every destination. Start exploring today and create unforgettable memories across the incredible land of India!
      </p>
      <p class="card-text" style="color: #06038D;">
        Vision ✨<br>
To be India’s most trusted and user-friendly travel planning platform, making travel seamless, enjoyable, and accessible for everyone by providing well-structured itineraries and essential travel recommendations.
      </p>
      <p class="card-text" style="color: #06038D;">
        Mission 🚀<br>
        Our mission is to simplify travel planning across India by providing well-structured itineraries, accurate destination insights, and essential travel recommendations. We aim to enhance user experience with an intuitive platform while promoting India's rich heritage, culture, and hidden gems, ensuring a seamless, enjoyable, and budget-friendly journey for every traveler.
      </p>
      <p class="card-text" style="color: #046A38;">
        Thank You for Choosing Xplore Bharat! 🙏✨<br>

We truly appreciate your trust in Xplore Bharat as your travel companion. Your journey matters to us, and we are committed to making your travel planning seamless and enjoyable. Whether you're exploring bustling cities, serene landscapes, or hidden gems of India, we’re here to guide you every step of the way.

Thank you for being a part of our travel community. Wishing you unforgettable adventures and incredible memories!<br>

Happy Travels! 🚆🏕️✈️
      </p>
    </div>
  </div>
</main>
<!-- Share Icon -->
<div class="floating-container">
  <div class="floating-button">
    <i class="fa-solid fa-share-from-square"></i>
  </div>
  <!-- Elements -->
  <div class="element-container">
    <!-- Facebook -->
    <a class="float-element" href="https://www.facebook.com/@GMRITofficial/"
      target="_blank">
      <span>
        <i class="fa-brands fa-facebook"></i>
    </a>

    <!-- WhatsApp -->
    </span>
    <a class="float-element"
      href="https://wa.me/9949794953"
      target="_blank">
      <span>
        <i class="fa-brands fa-whatsapp"></i>
      </span>
    </a>

    <!-- Twitter or X -->
    <a class="float-element"
      href="https://x.com/GMRIT1997?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
      target="_blank">
      <span>
        <i class="fa-brands fa-x-twitter"></i>
      </span>
    </a>

    <!-- LinkedIn -->
    <a class="float-element"
      href="https://www.linkedin.com/in/lakshmiaditya/" target="_blank">
      <span>
        <i class="fa-brands fa-linkedin"></i>
      </span>
    </a>

    <!-- Telegram -->
    <a class="float-element"
      href="https://t.me/+919949794953"
      target="_blank">
      <span>
        <i class="fa-brands fa-telegram"></i>
      </span>
    </a>

  </div>
</div>

<!-- Footer -->

<footer
      class="jumbotron text-center text-white fixed-bottom"
      style="background-color: #030303"
    >
      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: rgba(255, 255, 255, 0)"
      >
        <p>
          Done by (Batch-11) 3rd Year AI&DS GMRIT
          <a style="color: #0ed9ddd6; text-decoration: none" href="#"
            >Under Guidance Of Ms.N. Krishnaveni (Assistant Professor)</a
          >
        </p>
      </div>
    </footer>
{% endblock %}
</body>

</html>